<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat 2.0</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header>
    <h1>Chat 2.0</h1>
</header>

<main>
    <div class="message-container">
        <div class="message" th:each="msg : ${messages}">
            <span class="username" th:text="${msg.username}"></span>: <span class="message-text" th:text="${msg.message}"></span>
        </div>
    </div>

    <hr>

    <form id="message-form" action="/addmessage" method="post">
        <div class="input-container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:value="${username}" required>
        </div>
        <div class="input-container">
            <label for="message">Message:</label>
            <input type="text" id="message" name="message" required>
        </div>
        <div class="button-container">
            <button type="submit">Submit</button>
            <button type="button" onclick="window.location.href = '/'">Refresh</button>
        </div>
    </form>
</main>
</body>
</html>
